<h1>Country#all_states</h1>
<p>Find me in app/views/country/all_states.html.erb</p>

<table>
	<thead>
		<tr>
			<th>State</th>
			<th>Population</th>
			<th>Area</th>
		</tr>
	</thead>

	<tbody>
		<% @states.each do |state| %>
			<tr>
				<td><%= state.name %></td>
				<td><%= state.population %></td>
				<td><%= state.area %></td>
			</tr>
		<% end %>
	</tbody>

</table>