<h1>Country#top_five_pop</h1>
<p>Find me in app/views/country/top_five_pop.html.erb</p>


<table>
	<thead>
		<tr>
			<th>State</th>
			<th>Population</th>
			<th>Area</th>
		</tr>
	</thead>

	<tbody>
		<% @states.order(population: :desc).first(5).each do |state| %>
			<tr>
				<td><%= state.name %></td>
				<td><%= state.population %></td>
				<td><%= state.area %></td>
			</tr>
		<% end %>
	</tbody>

</table>